<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Full Testing" thread-count="2" data-provider-thread-count="2">
    <!-- Test -->
    <test name="Regression Testing" thread-count="2" parallel="instances">
        <classes>
            <class name="runner.MainRunner"/>
        </classes>
    </test>
    <!-- End Test -->
</suite>